services:
  love-generator:
    container_name: love-generator
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - public-net

networks:
  public-net:
    external: true
